{% extends 'collector/base.html' %}

{% block title %}
    Lambda Corps Scouting
{% endblock %}

{% block content %}
    <h4>Navigation</h3>
    <nav>
        <ul>
            <li class="nav-item"><a href="{% url 'collector:submit_match' %}">Report a Match</a></li>
            <li class="nav-item">Create a Pit Scouting Report</li>
            <li class="nav-item"><a href="{% url 'collector:teams' %}">Teams</a></li>
            <li class="nav-item"><a href="{% url 'collector:matches' %}">Matches</a></li>
        </ul>
    </nav>
{% endblock %}