{% extends 'collector/base.html' %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'collector:home' %}">Home</a></li>
	<li class="breadcrumb-item"><a href="{% url 'collector:matches' %}">Matches</a></li>
	<li class="breadcrumb-item active">Match Preview</li>
{% endblock %}

{% block content %}
<table id="robot_rep">
    <tr id="red_al">
        <th colspan="5" style="text-align: center; outline-style: solid; outline-width: 3px; outline-color: black;">Red Alliance</th>
    </tr>
    <tr id="scoring_header_row">
        <th></th>
        <td>Team Number</td>
        <td>Total Auto Points</td>
        <td>Teleop Points</td>
        <td>Endgame Points</td>
    </tr>
    <tr id="scoring_row">
        <th style="color: red;">Red 1</th>
        <td>{{ teams.r1.number }}</td>
        <td>{{ teams.r1.auto_points }}</td>
        <td>{{ teams.r1.teleop_points }}</td>
        <td>{{ teams.r1.endgame_points }}</td>
    </tr>
    <tr id="scoring_row">
        <th style="color: red;">Red 2</th>
        <td>{{ teams.r2.number }}</td>
        <td>{{ teams.r2.auto_points }}</td>
        <td>{{ teams.r2.teleop_points }}</td>
        <td>{{ teams.r2.endgame_points }}</td>
    </tr>
    <tr id="scoring_row">
        <th style="color: red;">Red 3</th>
        <td>{{ teams.r3.number }}</td>
        <td>{{ teams.r3.auto_points }}</td>
        <td>{{ teams.r3.teleop_points }}</td>
        <td>{{ teams.r3.endgame_points }}</td>
    </tr>
    <tr id="blue_al">
        <th colspan="5" style="text-align: center; outline-style: solid; outline-width: 3px; outline-color: black;">Blue Alliance</th>
    </tr>
    <tr id="scoring_header_row">
        <th></th>
        <td>Team Number</td>
        <td>Total Auto Points</td>
        <td>Teleop Points</td>
        <td>Endgame Points</td>
    </tr>
    <tr id="scoring_row">
        <th style="color: blue;">Blue 1</th>
        <td>{{ teams.b1.number }}</td>
        <td>{{ teams.b1.auto_points }}</td>
        <td>{{ teams.b1.teleop_points }}</td>
        <td>{{ teams.b1.endgame_points }}</td>
    </tr>
    <tr id="scoring_row">
        <th style="color: blue;">Blue 2</th>
        <td>{{ teams.b2.number }}</td>
        <td>{{ teams.b2.auto_points }}</td>
        <td>{{ teams.b2.teleop_points }}</td>
        <td>{{ teams.b2.endgame_points }}</td>
    </tr>
    <tr id="scoring_row">
        <th style="color: blue;">Blue 3</th>
        <td>{{ teams.b3.number }}</td>
        <td>{{ teams.b3.auto_points }}</td>
        <td>{{ teams.b3.teleop_points }}</td>
        <td>{{ teams.b3.endgame_points }}</td>
    </tr>
</table>
{% endblock %}