{% extends 'collector/base.html' %}

{% block title %}
	Match Report - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
	<li class="breadcrumb-item"><a href="{% url 'collector:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'collector:teams' %}">Teams</a></li>
    <li class="breadcrumb-item active">Submit Match Report</li>
{% endblock %}

{% block content %}
<h1>Match Report</h1>
<form method=POST>
    {% csrf_token %}
    {{form.as_p}}
    <input type='submit' value='Submit Match' />
</form>
{% endblock %}

