{% extends 'collector/base.html' %}
{% load render_table from django_tables2 %}

{% block title %}
    Summary - Team {{ team.number }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'collector:home' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'collector:teams' %}">Teams</a></li>
	<li class="breadcrumb-item active">Team {{team.number }}</li>
{% endblock %}

{% block content %}
    <h1>Team {{team.number}}: {{team.name}}</h1>
    <table id="robot_rep">
        <tr>
            <th colspan="2" style="text-align: center; outline-style: solid; outline-width: 2px; outline-color: black;">Pit Scouting Report</th>
        </tr>
        <tr>
            <th id="robot_rep">Drive Train Type</th>
            <td id="robot_rep">{{team.robot.drive_type}}</td>
        </tr>
        <tr>
            <th id="robot_rep">Preferred Grid Target</th>
            <td id="robot_rep">{{team.robot.grid}}</td>
        </tr>
        <tr>
            <th id="robot_rep">Charge Station</th>
            <td id="robot_rep">{{team.robot.charge_station}}</td>
        </tr>
    </table>

    <br />
    <h3>{{team.name}}'s Average Scores</h3>
    <table id="robot_rep">
        <tr>
            <td id="robot_rep">Match History</td>
            <td id="robot_rep">Auto</td>
            <td id="robot_rep">Teleop</td>
            <td id="robot_rep">Endgame</td>
        </tr>
        <tr>
            <th id="robot_rep">Last Three</th>
            <td id="robot_rep">{{last_three.auto_points}}</td>
            <td id="robot_rep">{{last_three.teleop_points}}</td>
            <td id="robot_rep">{{last_three.endgame_points}}</td>
        </tr>
        <tr>
            <th id="robot_rep">Last Six</th>
            <td id="robot_rep">{{last_six.auto_points}}</td>
            <td id="robot_rep">{{last_six.teleop_points}}</td>
            <td id="robot_rep">{{last_six.endgame_points}}</td>
        </tr>
        <tr>
            <th id="robot_rep">Overall</th>
            <td id="robot_rep">{{avg_score.auto_points}}</td>
            <td id="robot_rep">{{avg_score.teleop_points}}</td>
            <td id="robot_rep">{{avg_score.endgame_points}}</td>
        </tr>
    </table>
    <br />
    <h3>{{team.name}}'s Matches</h3>
    {% render_table table %}
{% endblock %}